@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  transition: background-color .3s ease-out;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #404040;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}


@font-face {
  font-family: ITC Bauhaus;
  src: url("/public/Font/BauhausStd-Bold.woff2") format("woff2");
}
@font-face {
  font-family: Glacial Indifference;
  src: url("/public/Font/GlacialIndifference-Regular.otf") format("opentype");
}